page-order-hotel {
    ion-content {
        background-image: linear-gradient(to right bottom, color($colors, color1), color($colors, color2));
        background-size: 100% 20%;
        background-repeat: no-repeat;
        border-color: transparent;
        .header-card {
            ion-card {
                width: 100% !important;
                img {
                    height: 300px;
                }
            }
        }
        .fab {
            box-shadow: 5px 3px 20px 5px rgba(0, 0, 0, 0.47);
        }
        .details-card {
            .card {
                position: relative !important;
                box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.41);
                border-radius: 10px;
                width: 90%;
                margin-left: 5%;
                .review {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: color($colors, color2);
                }
                .title {
                    color: color($colors, color3);
                    font-weight: bold;
                }
                .dates {
                    border-top: 1px solid color($colors, color3);
                    .col1 {
                        border-right: 1px solid color($colors, color3);
                    }
                    .date {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: color($colors, color1);
                    }
                }
            }
            .card:first-child {
                margin-top: -10% !important;
            }
        }
    }
    ion-footer {
        .price {
            font-size: 2rem;
            margin: 0;
            padding: 5px 5px;
            color: color($colors, color1);
            font-weight: 500;
        }
        .custom-btn {
            background: linear-gradient(to right bottom, color($colors, color1), color($colors, color2));
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }
    }
}